body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 15vh;
}



.tela{
    position: relative;
    width: 100vw;
    height: 50vw;
    background-color:antiquewhite
}

#boneco {
    
    position: absolute;
    top: 100vh;
    left: 50px;
    height: 80px;
    width: 80px;
    

    background-color: red;
}

#plataforma_1{
    position: absolute;
    top: 92vh;
    left: 400px;
    height: 60px;
    width: 200px;
    

    background-color: blue;
}

#plataforma_2{
    position: absolute;
    top: 75vh;
    left: 700px;
    height: 60px;
    width: 200px;
    

    background-color: blue;
}